<h1>Add Tags</h1>
<form action='/newtag' method='POST'>
  <label for='tag'>Tag:
    <input type='text' name='tag' />
  </label>
  <label for='title'>Title:
    <input type='text' name='title' />
  </label>
  <input type='submit' value= 'Create tag'>
</form>
