<h1>Links</h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL: <a href="<%=link.url%>"><%=link.url%></a>
      <%link.tags.each do |tag|%>
        -<%=tag.name%>
      <%end%>
    </li>
  <% end %>
</ul>

<form action="/links/new">
  <input type='submit' value= 'Add link'>
</form>

<form action="/newtag">
  <input type='submit' value= 'Add Tag'>
</form>

<form action="/tag">
  <input type='text' name='name'>
  <input type='submit' value= 'Search by tag'>
</form>
