<h1>Welcome! <%=@user_name%>
<h2>Links</h2>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      <a href="<%=link.url%>"><%= link.title %></a>
      <%link.tags.each do |tag|%>
        -<%=tag.name%>
      <%end%>
    </li>
  <% end %>
</ul>

<form action="/links/new">
  <input type='submit' value= 'Add link'>
</form>

<form action="/newtag">
  <input type='submit' value= 'Add Tag'>
</form>

<form action="/tag">
  <input type='text' name='name'>
  <input type='submit' value= 'Search by tag'>
</form>
