<h2> Sign up </h2>
<form action='/signup' method='POST'>
  <label for='email'>email:
    <input type='text' name='email' />
  </label>
  <label for='password'>password:
    <input type='password' name='password' />
  </label>
  <input type='submit' value= 'Sign up'>
</form>
