<h2> Sign up </h2>
<%if flash[:errors]%>
<%flash[:errors].each { |e|%> <%=e%> <%}%>
<%end%>
<form action='/signup' method='POST'>
  <label for='email'>email:
    <input type='email' required name='email' value= "<%=flash[:email]%>" >
  </label>
  <label for='password'>password:
    <input type='password' name='password'>
  </label>
  <label for='password_confirmation'>password_confirmation:
    <input type='password' name='password_confirmation'>
  </label>
  <input type='submit' value= 'Sign up'>
</form>
