<h1>Bookmark Manager</h1>
<h2>Sign in</h2>
<form action='/signin' method='POST'>
  <label for='email'>email:
    <input type='email' required name='email' value= "<%=flash[:email]%>" >
  </label>
  <label for='password'>password:
    <input type='password' name='password'>
  </label>
  <input type='submit' value= 'Sign in'>
</form>
<br>
<br>
New user?
<form action='/signup'>
  <input type='submit' value='Sign up'>
</form> 
